<div class="transviver-box">
  <div class="transviver-text">
    <p> Sabia que aqui em Recife temos uma ONG com ações focadas na comunidade LGBTQIAPN+ ?
      <br>Para conhecer o insta do Instituto Transviver é só clicar na casinha ;) </p>
    <a href="https://www.instagram.com/transviver/" target="_blank"> <mat-icon> home </mat-icon> </a>
  </div>
</div>
<div class="main-content">

  <div class="padding-div">
    <div>
      <h4> ORGULHO </h4>
    </div>
    <div>
      <div class="letters-content">
        <h3 class="letter" (click)="openModal('L')">L</h3>
        <h3 class="letter" (click)="openModal('G')">G</h3>
        <h3 class="letter" (click)="openModal('B')">B</h3>
        <h3 class="letter" (click)="openModal('T')">T</h3>
        <h3 class="letter" (click)="openModal('Q')">Q</h3>
        <h3 class="letter" (click)="openModal('I')">I</h3>
        <h3 class="letter" (click)="openModal('A')">A</h3>
        <h3 class="letter" (click)="openModal('P')">P</h3>
        <h3 class="letter" (click)="openModal('N')">N</h3>
        <h3 class="letter" (click)="openModal('+')">+</h3>
      </div>
    </div>
    <div class="buttons-type">
      <div class="first-div">
        <app-button-type [text]="constants.TYPETOSELECT.TEXTO" (selectedType) = "selectedType(constants.TYPETOSELECT.TEXTO)"> </app-button-type>
      </div>
      <div>
        <app-button-type [text]="constants.TYPETOSELECT.VIDEO" (selectedType) = "selectedType(constants.TYPETOSELECT.VIDEO)"> </app-button-type>
      </div>
    </div>
    <div>
      <app-content-info [type]="typeSelected"></app-content-info>
    </div>
  </div>
</div>
